*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.welcome{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.right button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
}

.right{
    width: 50%;
}

.left{
    width: 50%;
}

img{
    width: 100%;
    height: 100%;
}

.info{
    text-align: center;
    padding: 60px;
}

.info>p{
    padding: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.cards{
    text-align: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square{
    border: 2px #3882F6 solid;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.card p{
    padding: 10px;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.word{
    font-size: 36px;
    font-style: italic;
    
}

.name{
    align-self: flex-end;
}

.sign-up{
    padding: 50px;
}

.container{
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}